@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
:root {
  --color-primary: #243a73;
  --color-secondary: #f2ebe9;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: var(--color-primary);
  background-color: var(--color-primary);
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: var(--color-secondary);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.heading {
  margin-bottom: 2rem;
}

.todo-form {
  position: relative;
}

.input-field {
  font-family: inherit;
  width: 450px;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.input-field:focus {
  outline: none;
}

.btn {
  font-family: inherit;
  padding: 0.5rem;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn-main {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
}

.btn-clear {
  border-radius: 5px;
  margin-top: 30px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-left: -2.4rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  width: 450px;
}

.list-item li {
  list-style-type: none;
  width: 275px;
  word-wrap: break-word;
}

.list-item .icon {
  margin-left: 0.75rem;
  cursor: pointer;
}

.icon-delete {
  color: rgb(255, 25, 0);
}

.icon-edit {
  color: rgb(1, 142, 8);
}

.alert-msg {
  display: none;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  color: var(--color-secondary);
}

.alert-msg-danger {
  display: block;
  background-color: rgb(255, 25, 0);
}

.alert-msg-success {
  display: block;
  background-color: rgb(1, 142, 8);
}

@media screen and (max-width: 540px) {
  .input-field {
    width: 80vw;
  }

  .list-item {
    width: 80vw;
  }

  .list-item li {
    width: 40vw;
  }
  .container {
    width: 90vw;
  }
}
